.node {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-yellow-light);
  border-color: var(--mantine-color-yellow-4);
  border-width: 1px;
}
.header {
  height: 30px;
  border-bottom: 1px solid var(--mantine-color-default-border);
  display: flex;
  padding: 2px 4px;
  align-items: center;
  background-color: var(--mantine-color-yellow-0);
  p {
    font-size: var(--mantine-font-size-xs);
    margin-left: 5px;
    font-weight: bold;
    color: var(--mantine-color-yellow-5);
  }
  svg {
    color: var(--mantine-color-yellow-5);
  }
}
.footer {
  margin-top: auto;
  height: 25px;
  padding: 2px 4px;
  align-items: center;
  display: flex;
  background-color: var(--mantine-color-gray-1);
}
